body {
    width: 1920px;
height: 6241px;
flex-shrink: 0;
}
.address {
    display: flex;
    justify-content: right;
    text-align: right;
}

.address img {
    padding: 25px;
    margin-top: 17px;
}

.address1 {
    margin-left: 1205px;
}

.address2 {
    margin-right: 250px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin-top: 2px;
    margin-left: 250px
}

.navbar {
    margin-left: 76px;
    margin-top: 26px;
    
}

.menu {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.menu li {
    margin-right: 20px;
}

.menu li a {
    color: black;
    text-decoration: none;
    color: #334155;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li {
    padding: 20px;
}

.dropdown-content li a {
    color: #fff;
    text-decoration: none;
}

.call {
    margin-top: 25px;
    margin-left: 90px;
}

.social {
    margin-top: 24px;
    margin-left: 23px;
}

.navigation__button {
    border-radius: 50px;
    background: #8081BD;
    width: 192px;
    height: 40px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family:'Montserrat', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 14px;
    margin-left: 30px;
    border: none;
}

.container {
    width: 1539px;
    height: 839.8px;
    flex-shrink: 0;
}

.container-main {
    position: relative;
    top: 49px;
    left: 58px;
}

.container {
    position: relative;
}

.background-image {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -1; 
    width: 1804px;
height: 558px;
flex-shrink: 0;
}

.image-container {
    width: 1804px;
height: 558px;
flex-shrink: 0;
}

.Kidsstory,
.Englishclub,
.Arrows {
    position: absolute;
}

.Kidsstory {
    top: 176px;
    left: 193px;
}

.Englishclub {
    top: 304px;
    left: 193px;
}

.Arrows {
    top: 451px;
    left: 193px;
}

.container-main {
    position: relative;
}

.image-container {
    position: relative;
}

.form-container {
    position: absolute;
    top: 154px;
    margin-left: 1458px;
    padding: 38px;

}

.image-container1 {
    position: absolute;
    top: 70px;
    margin-left: 38px;
}

.rowg-3 {
    position: absolute;
    top: 300px;
    margin-left: 38px;
}

.col-12 {
    border: none;
    border-radius: 50px;
    width: 308px;
height: 40px;
flex-shrink: 0;
background: #FFF;
margin-bottom: 6px; 
}

.form-control {
    border: none;
font-family: 'Montserrat', sans-serif;
font-size: 10px;
font-style: normal;
font-weight: 600;
line-height: normal;
display: flex;
text-align: center;
    margin-left: 20px;
    padding-top: 14px;
}

input::placeholder {
    color: #334155;
}

.form-check {
    margin-top: 24px;
    margin-left: 5px;
}
.form-check-label {
    color: #FFF;
font-family: Montserrat;
font-size: 10px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.btn-primary {
    width: 308px;
height: 40px;
flex-shrink: 0;
    border-radius: 50px;
background: #EA5D4A;
border: none;
}

.custom-btn {
    color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin-top: 29px;
}

.vector {
    margin-top: 87px;
}


