body {
    width: 1920px;
height: 6241px;
flex-shrink: 0;
}
.address {
    display: flex;
    justify-content: right;
    text-align: right;
}

.address img {
    padding: 25px;
    margin-top: 17px;
}

.address1 {
    margin-left: 1205px;
}

.address2 {
    margin-right: 250px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin-top: 2px;
    margin-left: 250px
}

.navbar {
    margin-left: 76px;
    margin-top: 26px;
    
}

.menu {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.menu li {
    margin-right: 20px;
}

.menu li a {
    color: black;
    text-decoration: none;
    color: #334155;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li {
    padding: 20px;
}

.dropdown-content li a {
    color: #fff;
    text-decoration: none;
}

.call {
    margin-top: 25px;
    margin-left: 90px;
}

.social {
    margin-top: 24px;
    margin-left: 23px;
}

.navigation__button {
    border-radius: 50px;
    background: #8081BD;
    width: 192px;
    height: 40px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family:'Montserrat', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 14px;
    margin-left: 30px;
    border: none;
}

.container {
    width: 1539px;
    height: 839.8px;
    flex-shrink: 0;
}

.container-main {
    position: relative;
    top: 49px;
    left: 58px;
}

.container {
    position: relative;
}

.background-image {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -1; 
}

.image-container {
    width: 1804px;
height: 558px;
flex-shrink: 0;
}

.Kidsstory,
.Englishclub,
.Arrows {
    position: absolute;
}

.Kidsstory {
    top: 176px;
    left: 193px;
}

.Englishclub {
    top: 304px;
    left: 193px;
}

.Arrows {
    top: 451px;
    left: 193px;
}

.advantages__hd,
.dop-services__hd,
.video-gallery__hd {
    color: #8081BD;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main__dop-services,
.main__video-gallery-advantages {
    width: 1600px;
    margin-left: 100px;
}

.dop-services__container {
    display: flex;
    flex-direction: row;
    padding: 5px 5px;
    width: 1200px;
    justify-content: space-between;
}

.dop-services__point {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background: #FFF6D1;
    margin: 0px 5px;
    padding: 5px 10px;
}

.dop-services__point__box {
    background: #FFF;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dop-services__point__text {
    color: black;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px 20px;
}

.video-gallery__par{
    color: black;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.advantages__container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.advantages__par {
    color: black;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.advantages__point {
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 0px 5px;
    padding: 5px 10px;
}

.advantages__point__boxmaster,
.advantages__point__boxgames,
.advantages__point__boxconference,
.advantages__point__boxexperiments,
.advantages__point__boxconcerts,
.advantages__point__boxcompetitions {
    padding: 5px;
    border-radius: 10px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advantages__point__boxmaster {
    background: #F6B31F;
}

.advantages__point__boxgames{
    background: #F3ACC8;  
}

.advantages__point__boxconference {
    background: #8081BD;
}

.advantages__point__boxexperiments {
    background: #0E95D3;
}

.advantages__point__boxconcerts {
    background: #F6B31F;
}

.advantages__point__boxcompetitions {
    background: #F3ACC8; 
}

.point__boxcompetitions__img {
    width: 90%;
    height: 80%;
}

.advantages__point__text {
    color: black;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px 20px;
}